<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components//polymer/lib/mixins/property-effects.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;

      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button class="btn btn-danger" on-click="obtenerClientes" type="button" name="button">Obtener Clientes</button>
        <button class="btn btn-info" on-click="anadirCliente" type="button" name="button">Registrar Clientes</button>
      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.Apellido]]
                </td>
                <td>
                  [[item.idcliente]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {

        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados:{
            type: Boolean,
            value: true
          },
          respuesta:{
            type : Object
          },
          pais: function(){
            /**type: String,
            value:**/
            this.textContent ='https://www.countries-ofthe-world.com/flags-normal/flag-of-United-Kingdom.png';
          }
        };
      }
      obtenerClientes(){
        var url = "http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        this.noCargados = false;
        /**var bandera = model.item.Country;
        console.log('mensaje bandera: '+bandera);
        console.log('mensaje this.bandera: '+this.banderea);

        if (bandera == 'UK')
          this.pais = 'https://www.countries-ofthe-world.com/flags-normal/flag-of-United-Kingdom.png'
        else {
          this.pais = 'https://www.countries-ofthe-world.com/flags-normal/flag-of-[[item.Country]].png'
        }**/
      }
      anadirCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pipa", "CompanyName":"Pipas club"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta=request.responseText;
        console.log(this.respuesta);
        this.noCargados = false;

      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
